.main {
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
}

h1 {
  text-align: center;
}

table {
  border-spacing: 1ex;
}

caption {
  font-style: italic;
}

nav {
  display: flex;
  justify-content: center;
  margin-bottom: 3em;
  gap: 1em;
  flex-wrap: wrap;
  margin: 0;
}

dl {
  display: grid;
  grid-template-columns: max-content auto;
  column-gap: 1ex;
  margin: 0;
}

dt {
  grid-column-start: 1;
}

dt::after {
  content: ":";
}

dd {
  grid-column-start: 2;
  margin: 0;
}

.container3 {
  display: flex;
  flex-direction: column;
  gap: 3em;
  align-items: center;
}

.container1 {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}

.rate {
  min-width: 10ex;
}

.data {
  min-width: 8ex;
}

.from {
  display: flex;
  column-gap: 1ex;
  row-gap: 6px;
  flex-wrap: wrap;
}

.active {
  font-weight: bold;
}

#swap-target {
  display: contents;
}

@media (min-width: 960px) {
  .main {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    column-gap: 4em;
  }
}
