<!DOCTYPE html>
<html lang="en-GB">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=yes" />
    <link rel="icon" href="{{url_for('static', filename='favicon.png') }}" />
    <title>Cellular dashboard</title>
    <meta name="author" content="Ryan Moodie">
    <meta name="description" content="Dashboard for Huawei LTE router (source at https://gitlab.com/eidoom/huawei-lte-dashboard/)">
    <meta name="color-scheme" content="dark light" />
    <link rel="stylesheet" href="{{url_for('static', filename='style.css') }}">
    <script src="{{url_for('static', filename='htmx.min.js') }}"></script>
    {% block head %}
    {% endblock %}
  </head>

  <body class="container3">
    <header>
      <h1>Cellular dashboard</h1>
      <nav>
        {% for page in nav %}
        <a href="{{ page.path }}" {% if page.path == request.path %}class="active"{% endif %}>
          {{ page.name }}{% if page.path == "/sms" and unread > 0 %} ({{ unread }}){% endif %}
        </a>
        {% endfor %}
      </nav>
    </header>

    {% block body %}
    {% endblock %}
  </body>

</html>
