{% extends "base.html" %}

{% block head %}
<meta http-equiv="refresh" content="30;url=/" />
{% endblock %}

{% block body %}
<p>
  Rebooting...
</p>
<p>
  Dashboard will reload in <span id="countdown">30</span>s
</p>
{% endblock %}
