<main class="main">
	{% if mode == "LTE" %}

	<table>
		<caption>
			Cellular signal
		</caption>
		<tbody>
			<tr>
				<th>
					<abbr title="Reference Signal Received Power">RSRP</abbr>
				</th>
				<td>{{ rsrp }} dBm</td>
				<td>
					<meter id="rsrp" min="-100" max="-80" low="-90" high="-80" optimum="-80" value="{{ rsrp }}">
					</meter>
				</td>
			</tr>
			<tr>
				<th>
					<abbr title="Signal-to-Interference-plus-Noise Ratio">SINR</abbr>
				</th>
				<td>{{ sinr }} dB</td>
				<td>
					<meter id="sinr" min="0" max="20" low="13" high="20" optimum="20" value="{{ sinr }}">
					</meter>
				</td>
			</tr>
			<tr>
				<th>
					<abbr title="Reference Signal Received Quality">RSRQ</abbr>
				</th>
				<td>{{ rsrq }} dB</td>
				<td>
					<meter id="sinr" min="-20" max="-10" low="-15" high="-10" optimum="-10" value="{{ rsrq }}">
					</meter>
				</td>
			</tr>
		</tbody>
	</table>

	<table>
		<caption>
			Cellular information
		</caption>
		<tbody>
			<tr>
				<th>Mode</th>
				<td>{{ generation }}G</td>
			</tr>
			<tr>
				<th>eNB ID</th>
				<td>{{ enodeb_id }}</td>
			</tr>
			<tr>
				<th>eNB name</th>
				<td>{{ enodeb_name }}</td>
			</tr>
			<tr>
				<th>Cell ID</th>
				<td>{{ cell_id }}</td>
			</tr>
			<tr>
				<th>Band</th>
				<td>{{ band }}</td>
			</tr>
			<tr>
				<th>Upload bandwidth</th>
				<td>{{ ulbw }} MHz</td>
			</tr>
			<tr>
				<th>Download bandwidth</th>
				<td>{{ dlbw }} MHz</td>
			</tr>
			<tr>
				<th>Upload frequency</th>
				<td>{{ ulf }} MHz</td>
			</tr>
			<tr>
				<th>Download frequency</th>
				<td>{{ dlf }} MHz</td>
			</tr>
			<tr>
				<th>
					<abbr title="Received Signal Strength Indicator">RSSI</abbr>
				</th>
				<td>{{ rssi }} dBm</td>
			</tr>
		</tbody>
	</table>

	{% else %}

	<table>
		<caption>
			Cellular information
		</caption>
		<tbody>
			<tr>
				<th>Mode</th>
				<td>{{ generation }}G</td>
			</tr>
			<tr>
				<th>
					<abbr title="Received Signal Strength Indicator">RSSI</abbr>
				</th>
				<td>{{ rssi }} dBm</td>
			</tr>
			<tr>
				<th>
					<abbr title="Received Signal Code Power">RSCP</abbr>
				</th>
				<td>{{ rscp }} dBm</td>
			</tr>
			<tr>
				<th>
					<abbr title="Downlink carrier-to-interference ratio">Ec/Io</abbr>
				</th>
				<td>{{ ecio }} dB</td>
			</tr>
			<tr>
				<th>Tx power</th>
				<td>{{ tx_pwr }} dBm</td>
			</tr>
			<tr>
				<th>
					<abbr title="UTRA (UMTS (Universal Mobile Telecommunications System) Terrestrial Radio Access) Absolute Radio Frequency Channel Number">UARFCN</abbr>
				</th>
				<td>{{ uarfcn_dl }}</td>
			</tr>
		</tbody>
	</table>

	{% endif %}

	<div class="block">
		<table>
			<caption>
				Boot time
			</caption>
			<tbody>
				<tr>
					<th>Uptime</th>
					<td>
						<time datetime="{{ uptime | timedelta_p }}">{{ uptime | timedelta_format }}</time>
					</td>
				</tr>
				<tr>
					<th>Last boot</th>
					<td>
						<time datetime="{{ last_boot | datetime_iso }}">
							{{ last_boot | datetime_format }}
						</time>
					</td>
				</tr>
			</tbody>
		</table>
		<div>
			<button
			  hx-post="/reboot"
			  hx-trigger="click"
			  hx-confirm="Are you sure you want to reboot?"
	 	  >
			  Reboot
			</button>
		</div>
	</div>
</main>

<footer>
	<hr>
	{{ now }}
</footer>
