{% extends "base.html" %}

{% block body %}
<div class="container3">
  <main class="container1">
    {# <dl> #}
    {#   <dt>Phone number</dt> #}
    {#   <dd>{{ number }}</dd> #}
    {# </dl> #}

    <table>
      <caption>
        Messages
      </caption>
      <tbody>
        <tr>
          <th>Received</th>
          <td>{{ received }}</td>
        </tr>
        <tr>
          <th>Unread</th>
          <td>{{ unread }}</td>
        </tr>
        <tr>
          <th>Sent</th>
          <td>{{ sent }}</td>
        </tr>
      </tbody>
    </table>

    <nav>
      <a
        href="/sms?box_type={{ BoxTypeEnum.LOCAL_INBOX }}"
        {% if box_type == BoxTypeEnum.LOCAL_INBOX %}class="active"{% endif %}
      >
        received
      </a>
      <a
        href="/sms?box_type={{ BoxTypeEnum.LOCAL_SENT }}"
        {% if box_type == BoxTypeEnum.LOCAL_SENT %}class="active"{% endif %}
      >
        sent
      </a>
    </nav>

    {% if page > 1 %}
    <div>
      <a href="/sms?box_type={{ box_type }}&page={{ page - 1}}">back</a>
    </div>
    {% endif %}

    <ol start={{ start }}>
      {% for message in messages %}
      <li>
        <div class="from">
          <span>
            {% for number in message.phones %}
              {%- if number | is_phone_number -%}
                <a href="tel:{{ number }}">{{ number }}</a>
              {%- else -%}
                {{ number }}
              {%- endif -%}
              {%- if not loop.last -%}
                ,
              {%- endif %}
            {% endfor %}
          </span>
          <time datetime="{{ message.date_time | datetime_iso }}">
            {{ message.date_time | datetime_format }}
          </time>
          {% if message.status == StatusEnum.NEW %}
          <span id="new-message-{{message.index}}">
            <span>
              New
            </span>
            <button
              hx-trigger="click"
              hx-post="/mark_read"
              hx-vals='{"index": "{{message.index}}"}'
              hx-target="#new-message-{{message.index}}"
              hx-swap="outerHTML"
            >
              Mark read
            </button>
          </span>
          {% endif %}
        </div>
        <p>
          {{ message.content }}
        </p>
      </li>
      {% endfor %}
    </ol>

    {% if page < pages %}
    <div>
      <a href="/sms?box_type={{ box_type }}&page={{ page + 1 }}">more</a>
    </div>
    {% endif %}
  </main>

  <footer>
    <hr>
    {{ now }}
  </footer>
</div>
{% endblock %}
