<main class="main">
	<table>
		<caption>
			Instantaneous usage
		</caption>
		<tbody>
			<tr>
				<th>Upload</th>
				<td class="rate">{{ upload_rate }}</td>
			</tr>
			<tr>
				<th>Download</th>
				<td class="rate">{{ download_rate }}</td>
			</tr>
		</tbody>
	</table>

	<table>
		<caption>
			Usage today
		</caption>
		<tbody>
			<tr>
				<th>Total usage</th>
				<td class="data">{{ day_usage }}</td>
			</tr>
			<tr>
				<th>Duration</th>
				<td>
					<time datetime="{{ day_duration | timedelta_p }}">{{ day_duration | timedelta_format }}</time>
				</td>
			</tr>
		</tbody>
	</table>

	<table>
		<caption>
			Usage this session
		</caption>
		<tbody>
			<tr>
				<th>Upload</th>
				<td class="data">{{ session_upload }}</td>
			</tr>
			<tr>
				<th>Download</th>
				<td class="data">{{ session_download }}</td>
			</tr>
			<tr>
				<th>Total usage</th>
				<td class="data">{{ session_usage }}</td>
			</tr>
			<tr>
				<th>Duration</th>
				<td>
					<time datetime="{{ session_duration | timedelta_p }}">{{ session_duration | timedelta_format }}</time>
				</td>
			</tr>
			<tr>
				<th>Start time</th>
				<td>
					<time datetime="{{ session_start | datetime_iso }}">
						{{ session_start | datetime_format }}
					</time>
				</td>
			</tr>
		</tbody>
	</table>

	<table>
		<caption>
			Usage this month
		</caption>
		<tbody>
			<tr>
				<th>Upload</th>
				<td class="data">{{ month_upload }}</td>
			</tr>
			<tr>
				<th>Download</th>
				<td class="data">{{ month_download }}</td>
			</tr>
			<tr>
				<th>Total usage</th>
				<td class="data">{{ month_usage }}</td>
			</tr>
			<tr>
				<th>Duration</th>
				<td>
					<time datetime="{{ month_duration | timedelta_p }}">{{ month_duration | timedelta_format }}</time>
				</td>
			</tr>
			<tr>
				<th>Start date</th>
				<td>
					<time datetime="{{ month_start | date_iso }}">
						{{ month_start | date_format }}
					</time>
				</td>
			</tr>
		</tbody>
	</table>

	<table>
		<caption>
			Total usage
		</caption>
		<tbody>
			<tr>
				<th>Upload</th>
				<td class="data">{{ total_upload }}</td>
			</tr>
			<tr>
				<th>Download</th>
				<td class="data">{{ total_download }}</td>
			</tr>
			<tr>
				<th>Total usage</th>
				<td class="data">{{ total_usage }}</td>
			</tr>
			<tr>
				<th>Duration</th>
				<td>
					<time datetime="{{ total_duration | timedelta_p }}">{{ total_duration | timedelta_format }}</time>
				</td>
			</tr>
			<tr>
				<th>Start time</th>
				<td>
					<time datetime="{{ total_start | datetime_iso }}">
						{{ total_start | datetime_format }}
					</time>
				</td>
			</tr>
		</tbody>
	</table>
</main>

<footer>
	<hr>
	{{ now }}
</footer>
